/* General */
.w3-slideshow{
  position: relative;
  z-index: 1;
  max-width: 100%;
  /*min-height: 0px;*/
  overflow: hidden;
  margin: 5em auto .5em auto;
}
.w3-slideshow.sequence-fallback {
  overflow: hidden; 
}
.w3-slideshow ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.w3-slideshow > .sequence-canvas {
  height: 100%;
  width: 100%;
}
.w3-slideshow > .sequence-canvas > li {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
}
.w3-slideshow > .sequence-canvas li > * {
  position: absolute;
}
.w3-slideshow .slide {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 1px #333; 
}
.w3-slideshow .slide img {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
.w3-slideshow .slide .info{
  position: absolute;
  z-index: 1;
  top: -100%;
  left: 0;
  right: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  padding: 8px 12px;
  opacity: 0;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -ms-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
.w3-slideshow .slide h2,
.w3-slideshow .slide h3 {
  color: #FFF;
  position: absolute;
  padding: 0.2em;
  right: auto;
  left: auto;
  top: 0;
  z-index: 1;
}
.w3-slideshow .slide h2 {
  font-size: 2em;
  padding: .2em; 
}
.w3-slideshow .slide h3 {
  font-size: 1.2em;
  line-height: 120%;
  padding: 1em; 
}

/* control */
.w3-slideshow .controls {
  position: absolute;
  z-index: 100;
  right: 0;
  bottom: 0;
  width: 120px;
  height: 40px;
  padding-right: 10px;
  text-align: right;
}

.w3-slideshow .controls .pause,
.w3-slideshow .controls .next,
.w3-slideshow .controls .prev {
  color: white;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  display: inline-block;
  margin: 0 2px;
  
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s; 
}
.w3-slideshow .controls .pause.paused{
  opacity: 1;
}
.w3-slideshow:hover .controls .pause,
.w3-slideshow:hover .controls .next,
.w3-slideshow:hover .controls .prev {
  opacity: 1;
}
.w3-slideshow .controls .pause > span,
.w3-slideshow .controls .next > span,
.w3-slideshow .controls .prev > span {
  background-image: url(../images/control.png);
  background-repeat: no-repeat;
  
  height: 32px;
  width: 32px;
}
.w3-slideshow .controls .pause >span {
  background-position: 0 -33px;
}
.w3-slideshow .controls .prev >span {
  background-position: 0 0;
}
.w3-slideshow .controls .next >span {
  background-position: 0 -66px;
}
.w3-slideshow .controls .pause > span,
.w3-slideshow .controls .next > span,
.w3-slideshow .controls .prev > span {
  text-indent: 999em;
  display: block;
}
.w3-slideshow .controls .pause:hover,
.w3-slideshow .controls .next:hover,
.w3-slideshow .controls .prev:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* Pagination */
.w3-slideshow .pagination {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  width: 160px;
  height: 40px;
  opacity: 0;
  padding-left: 10px;
  text-align: left;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; 
}
.w3-slideshow:hover .pagination {
  opacity: 1;
}
.w3-slideshow .pagination li {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 8px 2px;
  text-indent: 999em;
  cursor: pointer;
  background-color: #FFF;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  
}
.w3-slideshow .pagination li.current {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; 
}

/* Cross-Fade mode (default) */
.w3-slideshow.mode-fade .slide,
.w3-slideshow .slide {
  opacity: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: "opacity";
  -moz-transition-property: "opacity";
  -ms-transition-property: "opacity";
  -o-transition-property: "opacity";
  transition-property: "opacity";
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear; 
}
.w3-slideshow.mode-fade .animate-in .slide,
.w3-slideshow .animate-in .slide {
  opacity: 1; 
}
.w3-slideshow.mode-fade .animate-out .slide,
.w3-slideshow .animate-out .slide {
  opacity: 0; 
}
.w3-slideshow.mode-fade .animate-out .slide .info {
  opacity: 0;
  top: 100%;
}
.w3-slideshow.mode-fade .animate-in .slide .info,
.w3-slideshow .animate-in .slide .info {
  opacity: 1;
  top: 0;
}


/* Slide mode */
.w3-slideshow.mode-slide .slide {
  left: 100%;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: "left";
  -moz-transition-property: "left";
  -ms-transition-property: "left";
  -o-transition-property: "left";
  transition-property: "left";
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear; 
}
.w3-slideshow.mode-slide .animate-in .slide {
  left: 0; 
}
.w3-slideshow.mode-slide .animate-out .slide {
  left: -100%; 
}
